html {
  font-family: "Myriad Web Pro", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #40d4cf;
}

ul {
  list-style: none;
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
}

/*Header*/

.Header {
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: #e9e9e9;
}

.Header-items {
  

  display: flex;
  width: 100%;
}

.Header-items-logo {
  flex-grow: 2;
  padding: 10px 40px;
}

.Header-items-navigations {
  flex-grow: 1;
}

.Header-items-navigations-ul {
  display: flex;
  flex-wrap: wrap;
}

.Header-items-navigations__item {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  font-weight: 900;
  color: #141414;
  text-transform: uppercase;
}

.Header-items-menu {
  display: none;
  font-size: 20px;
}

.Header-items__close {
  display: none;
  font-size: 20px;
  z-index: 80;
}

.Header-items__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000001f;
}

.Header-items__modal--show {
  display: block;
  z-index: 60;
}

@media screen and (max-width: 1024px) {
  .Header-items-navigations {
    position: absolute;
    display: none;
    background-color: #ffffff;
    top: 0;
    right: 0%;
    height: 120vh;
    width: 70%;
    z-index: 80;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .Header-items-navigations-ul {
    display: block;
    overflow-y: auto;
    max-height: 400px;
  }

  .Header-items-navigations-ul::-webkit-scrollbar {
    display: none;
  }

  .Header-items-navigations--show {
    display: block;
  }

  .Header-items-navigations__item {
    display: inline-block;
    padding: 20px;
    font-size: 15px;
  }

  .Header-items-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}

.Header-items-menu__line {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.3s ease;
}

.Header-items-menu {
  cursor: pointer;
}

.Header-items-menu__line:nth-child(1) {
  transform: translateY(0);
}

.Header-items-menu__line:nth-child(2) {
  transform: translateY(0);
}

.Header-items-menu__line:nth-child(3) {
  transform: translateY(0);
}

.Header-items__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 100;
}

.Header-items__close .Header-items-menu__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 4px;
  background-color: black;
  transform-origin: center;
  transition: 0.3s ease;
}

.Header-items__close .Header-items-menu__line:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.Header-items__close .Header-items-menu__line:nth-child(2) {
  display: none;
}

.Header-items__close .Header-items-menu__line:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*Banner*/

.Banner {
  height: 530px;
  background-color: #e9e9e9;
}

.Banner .wrap {
  position: relative;
  height: 100%;
 
}

.Banner-items {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: calc(1366px / 2 - 100px);
  margin-left: auto;
  z-index: 1;
}

.Banner-items__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #40d4cf;
  font-size: 14px;
  min-width: 184px;
  height: 54px;
}

.Banner-items__btn:hover {
  background-color: #141414;
}

.Banner-items__ttl {
  font-size: 38px;
  font-weight: 500;
  color: #1d1d1d;
}

.Banner-items__txt {
  font-size: 18px;
  font-weight: 200px;
  color: #787878;
}

@media screen and (max-width: 992px) {
  .Banner-items {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .Banner-items__ttl {
    font-size: 25px;
    margin: auto;
  }
  .Banner-items__txt {
    font-size: 15px;
    width: 70%;
    margin: auto;
    padding: 20px 0;
  }
  .Banner-items__btn {
    width: 30%;
    margin: auto;
  }
}

/*About sign*/

.About-items {
  display: flex;
  flex-direction: column;
}

.About-items__ttl {
  margin: 30px auto 0;
  font-size: 30px;
  color: #1d1d1d;
  font-family: "Montserrat";
}

.About-items__txt {
  margin: 30px auto;
  max-width: 50%;
  text-align: center;
  font-size: 16px;
  color: #787878;
  font-family: "Nunito Sans";
}

.About-items__sign {
  margin: 30px auto;
}

/* Skills*/
.Skills-items {
  display: flex;
}

.Skills-items-content {
  width: 50%;
  padding-left: 40px;
}

.Skills-items-content-progress-bar {
  width: 50%;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.Skills-items-content-progress-bar__percentage {
  height: 100%;
  background-color: #40d4cf;
  transition: width 0.4s ease;
}

.Skills-items-content-progress-bar__percentage--uxui {
  width: 75%;
}

.Skills-items-content-progress-bar__percentage--webdev {
  width: 90%;
}

.Skills-items-content-progress-bar__percentage--marketing {
  width: 65%;
}

.Skills-items-content-progress__txt {
  font-family: "Montserrat";
}

.Skills-items-content-progress__txt:nth-of-type(2) {
  font-weight: 900;
}

.Skills-items-content-progress__txt:nth-of-type(3) {
  font-weight: 900;
}

.Skills-items__image {
  width: 50%;
  background-color: #e9e9e9;
  height: 570px;
}

@media screen and (max-width: 650px) {
  .Skills-items__image {
    width: 0;
    height: 0;
  }
  .Skills-items-content {
    width: 100%;
    padding-left: 0;
    margin-bottom: 40px;
  }
  .Skills-items-content__ttl {
    text-align: center;
  }
  .Skills-items-content-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Skills-items {
    padding: 0;
  }
}

/*Numbers*/

.Numbers {
  background-color: #40d4cf;
}

.Numbers-items {

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 243px;
  width: 100%;
  flex-wrap: wrap;
}

.Numbers-items-info {
  display: flex;
  align-items: center;
}

.Numbers-items-info__images {
  padding: 20px;
}

.Numbers-items-info-descriptions__total {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "Montserrat";
}

.Numbers-items-info-descriptions__txt {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  font-family: "Montserrat";
  text-transform: uppercase;
}

@media screen and (max-width: 999px) {
  .Numbers-items-info {
    width: 50%;
    justify-content: center;
  }

  .Numbers-items-info-descriptions__total {
    font-size: 14px;
  }

  .Numbers-items-info-descriptions__txt {
    font-size: 12px;
  }
}

/*Work*/
.Work-items {
  display: flex;
  width: 100%;
}

.Work-items-square {
  position: relative;
  flex: 1 1 25%;
  aspect-ratio: 1 / 1;
  background-color: #f6f6f6;
}

.Work-items-square__eye {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

.Work-items > :nth-child(odd) {
  background-color: #838383;
}

.Work-items--reverse > :nth-child(even) {
  background-color: #838383;
}

.Work-items--reverse > :nth-child(odd) {
  background-color: #f6f6f6;
}

.Work-items-square:hover {
  background-color: #252525;
  cursor: pointer;
  .Work-items-square__eye {
    display: block;
  }
}

.Work-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: #0000002b;
}

.Work__content {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vw;
  z-index: 120;
  border-radius: 10px;
  will-change: transform;
}

.Work-modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  z-index: 130;
}
.Work-loadmore {
  background-color: #f5f5f5;
}
.Work-loadmore__ttl {
  font-size: 14px;
  color: #8e8e8e;
  padding: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.Work-loadmore__ttl:hover {
  color: #40d4cf;
  cursor: pointer;
}

.Work-items--hidden {
  display: none;
}

/*Work Process*/

.Work-process-video {
  width: 90%;
  background-color: #e3e3e3;
  margin: auto;
  padding: 20% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Work-process-video-circle {
  background-color: #40d4cf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Work-process-video-circle:hover {
  cursor: pointer;
  background-color: #252525;
}

@media screen and (max-width: 420px) {
  .Work-process__ttl {
    font-size: 18px;
  }
  .Work-process__txt {
    font-size: 14px;
  }
}

/*Services*/

.Services-items {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.Services-items-info {
  width: 25%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.Services-items-info-descriptions {
  width: 70%;
  text-align: center;
}

.Services-items-info-descriptions__total {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.Services-items-info-descriptions__txt {
  font-size: 16px;
  color: #787878;
}

@media screen and (max-width: 999px) {
  .Services-items-info {
    width: 50%;
  }
}

/*Testimonials*/

.Testimonials {
  background-color: #40d4cf;
}

.Testimonials-slider-container {
  position: relative;
  
  width: 100%;
  padding: 8% 0;
}

.Testimonials-slider-container-slider {
  width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  font-family: "Montserrat";
}

.Testimonials-slider-container-slider__quote {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  margin: auto;
  letter-spacing: 1.5px;
}

.Testimonials-slider-container-slider__author {
  font-size: 16px;
  padding: 10px 0;
  color: #fff;
}

.Testimonials-slider-container-active {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Testimonials-slider-container-active__dot {
  height: 5px;
  width: 5px;
  background-color: #ffffffa8;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin:  5px;

}

.Testimonials-slider-container-active__dot.selected {
  height: 8px;
  width: 8px;
  background-color: #FFF;
}

@media screen and (max-width: 420px) {
  .Testimonials-slider-container-slider__quote {
    font-size: 14px;
  }
  .Testimonials-slider-container-slider__author {
    font-size: 12px;
  }
}

/*Clients*/
.Clients-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 50px;
  flex: 0 0 20%;
}

.Clients-items-image {
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 698px) {
  .Clients-items-image {
    width: 50%;
  }
}

@media screen and (max-width: 360px) {
  .Clients-items-image {
    width: 100%;
  }
}

/*Form*/
.Form-items {
  width: 40%;
  text-align: center;
  margin: auto;
}

.Form-items__txt {
  color:#787878;
  padding: 30px 0;
}

.Form-items-register-info {
  display: flex;
}

.Form-items-register-content {
  display:flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.Form-items-register input {
  border:none;
  margin: 40px 0;
  width: 100%; 
  padding: 10px 0;
  font-size: 16px;
}

.Form-items-register-info__name,
.Form-items-register-info__email{
  width: 50%; 
}

.Form-items-register-info__email{
  margin-left: 20px; 
}

.Form-items-register-content__title,
.Form-items-register-content__comment{
  width: 100%; 
}

@media screen and (max-width: 1024px) {
  .Form-items-register-info{
    flex-direction: column;
  }
  .Form-items-register-info__name,
.Form-items-register-info__email{
  width: 100%;
  margin-left: 0;
}

  .Form-items {
    width: 80%;
  }
}

.Form-items__btn {
  margin: 80px 0;
}

/*Footer-items*/


.Footer-items {
  display: flex;
  background-color: #141414;
  color: #ffffff;
  padding: 16px;
}

.Footer-items-copyright {
  width: 35%;
}

.Footer-items-copyright__company {
  font-size: 18px;
}

.Footer-items-copyright__design {
  font-size: 15px;
}

.Footer-items-contact {
  width: 25%;
}

.Footer-items-contact-group {
  list-style: none;
}

.Footer-items-contact-group-item {
  font-size: 15px;
}

.Footer-items-contact-group-item__link:hover {
  text-decoration: underline;
  color: rgb(88, 88, 255);
}

.Footer-items-work {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.Footer-items-work-group {
  list-style: none;
}

.Footer-items-work-group-item {
  font-size: 15px;
}

.Footer-items-work-group-item__link:hover {
  text-decoration: underline;
  color: rgb(88, 88, 255);
}

@media screen and (max-width: 768px) {
  .Footer-items {
    flex-wrap: wrap;
    align-items: start;
  }

  .Footer-items-copyright {
    width: 50%;
  }

  .Footer-items-contact {
    width: 50%;
  }
  
  .Footer-items-work {
    margin: 20px 0;
    width: 100%;
  }

  .Footer-items-work-group {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  
  .Footer-items-copyright {
    width: 100%;
  }

  .Footer-items-contact {
    margin: 20px 0;
    width: 100%;
  }

  .Footer-items-contact-group {
    margin: 0;
    padding: 0;
  }
  
  .Footer-items-work {
    margin: 20px 0;
    width: 100%;
  }

  .Footer-items-work-group {
    margin: 0;
    padding: 0;
  }
  .Footer-items-work-group-item {
    font-size: 12px;
  }
}