html {
  font-family: "Myriad Web Pro", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #40d4cf;
}

ul {
  list-style: none;
}

.Responsive {
  max-width: 1366px;
  margin: 0 auto;
}

/*Header*/
.Header {
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: #e9e9e9;
}

.Header-item {
  display: flex;
  width: 100%;
}

.Header-item-logo {
  flex-grow: 2;
  padding: 10px 40px;
}

.Header-item-logo:hover {
  cursor: pointer;
}

.Header-item-nav {
  flex-grow: 1;
}

.Header-item-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.Header-item-nav-list__option {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  font-weight: 900;
  color: #141414;
  text-transform: uppercase;
}

.Header-item-menu {
  display: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 130;
}

.Header-item__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000001f;
}

.Header-item__modal--show {
  display: block;
  z-index: 60;
}

.Header-item-menu__line {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
  transition: 0.3s ease;
}

.Header-item-menu__line:nth-child(1),
.Header-item-menu__line:nth-child(2),
.Header-item-menu__line:nth-child(3) {
  transform: translateY(0);
}

.Header-item--open .Header-item-nav,
.Header-item--open .Header-item__modal,
.Header-item--open.Header-item-menu {
  display: block;
}

.Header-item--open .Header-item-menu__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 4px;
  background-color: black;
  transform-origin: center;
  transition: 0.3s ease;
}

.Header-item--open .Header-item-menu__line:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.Header-item--open .Header-item-menu__line:nth-child(2) {
  display: none;
}

.Header-item--open .Header-item-menu__line:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Media*/
@media screen and (max-width: 375px) {
  .Client-item-image {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .Work-process__ttl {
    font-size: 18px;
  }
  .Work-process__txt {
    font-size: 14px;
  }
  .Testimonial-slider-container-content__quote {
    font-size: 14px;
  }
  .Testimonial-slider-container-content__author {
    font-size: 12px;
  }
  .Footer-item-copyright {
    width: 100%;
  }

  .Footer-item-contact {
    margin: 20px 0;
    width: 100%;
  }

  .Footer-item-contact-group {
    margin: 0;
    padding: 0;
  }

  .Footer-item-work {
    margin: 20px 0;
    width: 100%;
  }

  .Footer-item-work-group {
    margin: 0;
    padding: 0;
  }
  .Footer-item-work-group-content {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .Footer-item {
    flex-wrap: wrap;
    align-items: start;
  }

  .Footer-item-copyright {
    width: 50%;
  }

  .Footer-item-contact {
    width: 50%;
  }

  .Footer-item-work {
    margin: 20px 0;
    width: 100%;
  }

  .Footer-item-work-group {
    margin: 0;
    padding: 0;
  }
  .Skill-item__image {
    width: 0;
    height: 0;
  }
  .Skill-item-content {
    width: 100%;
    padding-left: 0;
    margin-bottom: 40px;
  }
  .Skill-item-content__ttl {
    text-align: center;
  }
  .Skill-item-content-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Skill-item {
    padding: 0;
  }
  .Client-item-image {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .Banner-item {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .Banner-item__ttl {
    font-size: 25px;
    margin: auto;
  }
  .Banner-item__txt {
    font-size: 15px;
    width: 70%;
    margin: auto;
    padding: 20px 0;
  }
  .Banner-item__btn {
    width: 30%;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .Form-item-register-info {
    flex-direction: column;
  }
  .Form-item-register-info__name,
  .Form-item-register-info__email {
    width: 100%;
    margin-left: 0;
  }

  .Form-item {
    width: 80%;
  }
  .Number-item-info {
    width: 50%;
    justify-content: center;
  }

  .Number-item-info-descriptions__total {
    font-size: 14px;
  }

  .Number-item-info-descriptions__txt {
    font-size: 12px;
  }
  .Header-item-nav {
    position: absolute;
    display: none;
    background-color: #ffffff;
    top: 0;
    right: 0%;
    height: 120vh;
    width: 70%;
    z-index: 80;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .Header-item-nav-list {
    display: block;
    overflow-y: auto;
    max-height: 400px;
  }

  .Header-item-nav-list::-webkit-scrollbar {
    display: none;
  }

  .Header-item-nav--show {
    display: block;
  }

  .Header-item-nav-list__option {
    display: inline-block;
    padding: 20px;
    font-size: 15px;
  }

  .Header-item-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .Service-item-info {
    width: 50%;
  }
}

/*Banner*/
.Banner {
  height: 530px;
  background-color: #e9e9e9;
}

.Banner .Responsive {
  position: relative;
  height: 100%;
}

.Banner-item {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: calc(1366px / 2 - 100px);
  margin-left: auto;
  z-index: 1;
}

.Banner-item__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #40d4cf;
  font-size: 14px;
  min-width: 184px;
  height: 54px;
}

.Banner-item__btn:hover {
  background-color: #141414;
}

.Banner-item__ttl {
  font-size: 38px;
  font-weight: 500;
  color: #1d1d1d;
  transition: transform 0.3s ease-in-out;
}

.Banner-item__ttl:hover {
  transform: scale(1.2);
}

.Banner-item__txt {
  font-size: 18px;
  font-weight: 200px;
  color: #787878;
  transition: transform 0.3s ease-in-out;
}

.Banner-item__txt:hover {
  transform: scale(1.2);
}

/*About sign*/
.About-item {
  display: flex;
  flex-direction: column;
}

.About-item__ttl {
  margin: 30px auto 0;
  font-size: 30px;
  color: #1d1d1d;
  font-family: "Montserrat";
  text-transform: capitalize;
  transition: transform 0.3s ease-in-out;
}

.About-item__ttl:hover {
  transform: rotateY(180deg);
}

.About-item__txt {
  margin: 30px auto;
  max-width: 50%;
  text-align: center;
  font-size: 16px;
  color: #787878;
  font-family: "Nunito Sans";
  transition: transform 0.3s ease-in-out;
}

.About-item__txt:hover {
  transform: scale(1.2);
  cursor: default;
}

.About-item__sign {
  margin: 30px auto;
}

/* Skills*/
.Skill-item {
  display: flex;
}

.Skill-item-content {
  width: 50%;
  padding-left: 40px;
}

.Skill-item-content__ttl {
  text-transform: capitalize;
}

.Skill-item-content-progress-bar {
  width: 50%;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.Skill-item-content-progress-bar__percentage {
  display: block;
  height: 100%;
  background-color: #40d4cf;
  transition: width 0.4s ease;
  margin: 0;
  padding: 0;
}

.Skill-item-content-progress-bar__percentage--uxui {
  width: 75%;
}

.Skill-item-content-progress-bar__percentage--webdev {
  width: 90%;
}

.Skill-item-content-progress-bar__percentage--marketing {
  width: 65%;
}

.Skill-item-content-progress__txt {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.Skill-item-content-progress__txt:nth-of-type(2) {
  font-weight: 900;
}

.Skill-item-content-progress__txt:nth-of-type(3) {
  font-weight: 900;
}

.Skill-item__image {
  width: 50%;
  background-color: #e9e9e9;
  height: 570px;
}

/*Numbers*/
.Number {
  background-color: #40d4cf;
}

.Number-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 243px;
  width: 100%;
  flex-wrap: wrap;
}

.Number-item-info {
  display: flex;
  align-items: center;
}

.Number-item-info__images {
  padding: 20px;
  transition: transform 0.6s ease;
}

.Number-item-info:hover {
  .Number-item-info__images {
    transform: rotateY(360deg);
  }
}

.Number-item-info-descriptions__total {
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  font-family: "Montserrat";
  transition: all 0.3s ease;
}

.Number-item-info-descriptions__txt {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  font-family: "Montserrat";
  text-transform: uppercase;
}

/*Work*/
.Work-item {
  display: flex;
  width: 100%;
}

.Work-item-square {
  position: relative;
  flex: 1 1 25%;
  aspect-ratio: 1 / 1;
  background-color: #f6f6f6;
}

.Work-item-square__eye {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

.Work-item > :nth-child(odd) {
  background-color: #838383;
}

.Work-item--reverse > :nth-child(even) {
  background-color: #838383;
}

.Work-item--reverse > :nth-child(odd) {
  background-color: #f6f6f6;
}

.Work-item-square:hover {
  background-color: #252525;
  cursor: pointer;
  .Work-item-square__eye {
    display: block;
  }
}

.Work-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: #0000002b;
}

.Work__content {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vw;
  z-index: 120;
  border-radius: 10px;
  will-change: transform;
}

.Work-modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  z-index: 130;
}
.Work-loadmore {
  background-color: #f5f5f5;
}
.Work-loadmore__ttl {
  font-size: 14px;
  color: #8e8e8e;
  padding: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.Work-loadmore__ttl:hover {
  color: #40d4cf;
  cursor: pointer;
}

.Work-item--hidden {
  display: none;
}

/*Work Process*/
.Work-process-item {
  display: flex;
  flex-direction: column;
}

.Work-process-item__ttl {
  margin: 30px auto 0;
  font-size: 30px;
  color: #1d1d1d;
  font-family: "Montserrat";
  text-transform: capitalize;
}

.Work-process-item__txt:hover {
}

.Work-process-item__txt {
  margin: 30px auto;
  max-width: 50%;
  text-align: center;
  font-size: 16px;
  color: #787878;
  font-family: "Nunito Sans";
  transition: transform 0.3s ease-in-out;
}

.Work-process-video {
  width: 90%;
  background-color: #e3e3e3;
  margin: auto;
  padding: 20% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Work-process-video-circle {
  background-color: #40d4cf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Work-process-video-circle:hover {
  cursor: pointer;
  background-color: #252525;
}

/*Services*/
.Service-item {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.Service-item-info {
  width: 25%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.Service-item-info__images {
  transition: transform 0.3s ease-in-out;
}

.Service-item-info:hover {
  cursor: pointer;
  .Service-item-info__images {
    transform: rotate(45deg);
  }
}

.Service-item-info-descriptions {
  width: 70%;
  text-align: center;
}

.Service-item-info-descriptions__total {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.Service-item-info-descriptions__txt {
  font-size: 16px;
  color: #787878;
}

/*Testimonials*/
.Testimonial {
  background-color: #40d4cf;
}

.Testimonial-slider-container {
  position: relative;

  width: 100%;
  padding: 8% 0;
}

.Testimonial-slider-container-content {
  width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  font-family: "Montserrat";
}

.Testimonial-slider-container-content__quote {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  margin: auto;
  letter-spacing: 1.5px;
  transition: transform 0.3s ease-out;
}

.Testimonial-slider-container-content__quote:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.Testimonial-slider-container-content__author {
  font-size: 16px;
  padding: 10px 0;
  color: #fff;
  text-transform: capitalize;
  transition: transform 0.3s ease-out;
}

.Testimonial-slider-container-content__author:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.Testimonial-slider-container-active {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Testimonial-slider-container-active__dot {
  height: 5px;
  width: 5px;
  background-color: #ffffffa8;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.3s ease-out;
}

.Testimonial-slider-container-active__dot:hover {
  cursor: pointer;
  transform: scale(2.5);
}

.Testimonial-slider-container-active__dot--selected {
  height: 8px;
  width: 8px;
  background-color: #fff;
}

/*Clients*/
.Client-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  flex: 0 0 20%;
}

.Client-item-image {
  text-align: center;
  margin: 20px 0;
  transition: transform 0.3s ease-in-out;
}

.Client-item-image:hover {
  transform: rotateY(360deg);
  cursor: pointer;
}

/*Form*/
.Form-item {
  width: 40%;
  text-align: center;
  margin: auto;
}

.Form-item__txt {
  color: #787878;
  padding: 30px 0;
}

.Form-item-register-info {
  display: flex;
}

.Form-item-register-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.Form-item-register input {
  border: none;
  margin: 40px 0;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}

.Form-item-register-info__name,
.Form-item-register-info__email {
  width: 50%;
}

.Form-item-register-content__title,
.Form-item-register-content__comment {
  width: 100%;
}

.Form-item__btn {
  margin: 80px 0;
}

/*Footer-item*/
.Footer {
  background-color: #141414;
}

.Footer-item {
  display: flex;
  color: #ffffff;
  padding: 16px;
}

.Footer-item-copyright {
  width: 35%;
}

.Footer-item-copyright__company {
  font-size: 18px;
  text-transform: capitalize;
}

.Footer-item-copyright__design {
  font-size: 15px;
}

.Footer-item-contact {
  width: 25%;
}

.Footer-item-contact-group {
  list-style: none;
}

.Footer-item-contact-group-content {
  font-size: 15px;
}

.Footer-item-contact-group-content__link:hover {
  text-decoration: underline;
  color: rgb(88, 88, 255);
}

.Footer-item-work {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.Footer-item-work-group {
  list-style: none;
}

.Footer-item-work-group-content {
  font-size: 15px;
}

.Footer-item-work-group-content__link:hover {
  text-decoration: underline;
  color: rgb(88, 88, 255);
}
